{% extends "layoutCine.html" %}
{% import "macro_cine.html" as macros %}

{% block content %}
<form action="/CINECO" method="post" novalidate>

    {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row">
        <div class="col-md-6 panel">
            <h5>Entradas</h5>

            {{ macros.campoNuevo(form.nombre, class="form-control") }}
            {{ macros.campoNuevo(form.personas, class="form-control", type="number") }}
            {{ macros.campoNuevo(form.boletos, class="form-control", type="number") }}

            <label>Tarjeta Cineco</label>
            {{ macros.campoNuevo(form.metodoPago) }}
        </div>

        <div class="col-md-6 panel">
            <h5>Salidas</h5>

            <label>Valor a pagar</label>
            <input type="text" class="form-control"
                   value="{{ costoBoletos }}"
                   readonly>
        </div>
    </div>

    <div class="acciones">
        <button type="submit" class="btn btn-light">Procesar</button>
        <a href="/" class="btn btn-secondary">Salir</a>
    </div>

</form>

{% endblock %}
