<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CINECO</title>
    <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">  
    <link href="../static/styles.css" rel="stylesheet">  

</head>

<body>

<div class="app-container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
