{% macro datos(name,placeholder,type = "text") %}
 <div class="mb-3">
  <label for="{{name}}" class="form-label">{{name}} </label>
  <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
 </div>
{% endmacro %}
 
{% macro boletos(name, placeholder) %}
<div class="mb-3">
  <label for="{{ name }}" class="form-label">{{ name }}</label>
  <input 
    type="number" 
    class="form-control" 
    id="{{ name }}" 
    name="{{ name }}" 
    placeholder="{{ placeholder }}"
    min="1"
    max="7"
    required
  >
</div>
{% endmacro %}
