{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block content %}
<form action="/usuarios" method="post" novalidate>
    {{form.csrf_token}}
    <input type = "hidden" name="csrf_token" value = "{{csrf_token()}}">

    <div class = "mb3"
    {{ macros.campoNuevo(form.matricula, class="form-control1") }}
    </div> 
    <div class = "mb3"
    {{ macros.campoNuevo(form.nombre, class="form-control1") }}
    </div> 
    <div class = "mb3"
    {{ macros.campoNuevo(form.apaterno, class="form-control1") }}
    </div> 
    <div class = "mb3"
    {{ macros.campoNuevo(form.amaterno, class="form-control1") }}
    </div> 
    <div class = "mb3"
    {{ macros.campoNuevo(form.correo, class="form-control") }} 
    </div>
<button type="submit" class="btn btn-primary">Calcular</button>
</form>
<h1> Matricula: {{mat}} </h1>
<h1> Nombre: {{nom}} </h1>
<h1> Apellido Paterno: {{apa}} </h1>
<h1> Apellido Materno: {{ama}} </h1>
<h1> Email: {{email}} </h1>

{% endblock %}
